body {
  background-color: #444;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
  font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding-top: 5%;
  text-align: center;
  word-wrap: break-word;
}

.logo {
  height: 50px;
  width: 50px;  
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  margin: 2%;
  padding: 5%;
}

.Transaction {
  padding: 5%;
}

.ConductTransaction, .TransactionPool {
  margin: 10%;
}

a, a:hover {
  color: #e66;
  text-decoration: underline;
}


.header {
  text-align: center;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}
